<main class="main">
    <div id="main-wrapper">

      <app-hedarpage></app-hedarpage>

        <div class="page-wrapper">
            <div class="container-fluid">
                
                <app-routpage></app-routpage>
                <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                             <router-outlet />
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <footer class="footer"> © 2017 Material Pro Admin by wrappixel.com </footer>
        </div>
    </div>

    </main>