<div class="row">
    <div class="card">
        <div class="card-block bg-info">
            <h4 class="text-white card-title m-2 p-2">Customer List</h4>
            <div class="p-2 card-subtitle bg-info">
                <input
                    type="text"
                    placeholder="Search..."
                    [(ngModel)]="searchText"
                    class="form-control"
                />
                <span class="w-auto" >Total Records {{total}}</span>
            </div>
        </div>
        <div class="card-block">
            <div class="message-box contact-box">
                <h2 class="add-ct-btn">
                    <button type="button" class="btn btn-circle btn-lg btn-success waves-effect waves-dark" (click)="AddNewCustomer()">
                        <i class="mdi mdi-pencil-box"></i>
                    </button>
                </h2>
                <div class="message-widget contact-widget">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th *ngIf="showIdColumn">CustomerId</th>
                                    <th *ngIf="showIdColumn">WingMasterId</th>
                                    <th *ngIf="showIdColumn">WingDetailId</th>
                                    <th>Customer Name</th>
                                    <th>Wing</th>
                                    <th>Flat No</th>
                                    <th>Fincial Name</th>
                                    <th>Is Banakhat</th>
                                    <th>Banakhat Number</th>
                                    <th>Banakhat Date</th>
                                    <th>Dastavg Number</th>
                                    <th>Dastavg Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let detail of filterData | slice:recordNumber:endrecordNumber; let i = index">
                                    <th *ngIf="showIdColumn">{{detail.customerMasterId}}</th>
                                    <th *ngIf="showIdColumn">{{detail.wingMasterId}}</th>
                                    <th *ngIf="showIdColumn">{{detail.wingDetailId}}</th>
                                    <th>{{detail.customerName}}</th>
                                    <th>
                                        <button title=" " class="btn m-2 btn-primary" type="button" (click)="OpenWingDetails(detail.wingMasterId)">
                                            <i class="mdi mdi-arrow-right-bold-circle"></i>
                                            {{detail.wingName}}
                                        </button>
                                    </th>
                                    <th>
                                        <button title=" " class="btn m-2 btn-primary" type="button" (click)="OpenWingDetails(detail.wingMasterId)">
                                            <i class="mdi mdi-arrow-right-bold-circle"></i>
                                            {{detail.flatNo}}
                                        </button>
                                    </th>
                                    <th>{{detail.finacialName}}</th>
                                    <th>
                                        <i *ngIf="detail.isBanakhat" class="mdi mdi-checkbox-marked-outline"></i>
                                        <i *ngIf="!detail.isBanakhat" class="mdi mdi-checkbox-blank-outline"></i>
                                    </th>
                                    <th>{{detail.banakhatNumber}}</th>
                                    <th>{{detail.banakhatDate}}</th>
                                    <th>{{detail.dastavgNo}}</th>
                                    <th>{{detail.dastavgDate}}</th>
                                    <th>
                                         <button title=" " class="btn m-2 btn-primary" type="button" (click)="EditCustomer(detail.customerMasterId)">
                                            <i class="mdi mdi-account-edit"></i>
                                        </button> 
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <ul class="pagination justify-content-center d-flex">
                        <li class="pate-item" (click)="prevous()" >
                            <span class="page-link">
                                <i class="mdi mdi-skip-previous-circle"></i>
                            </span>
                        </li>
                        <li
                            *ngFor="let page of pages"
                            [ngClass]="{ 'page-item': true, active: currentPage === page }"
                            (click)="changePage(page)"
                        >
                            <span class="page-link">{{ page }}</span>
                        </li>
                        <li class="pate-item" (click)="nextpage()">
                            <span class="page-link">
                                <i class="mdi mdi-skip-next-circle"></i>
                            </span>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>